/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* variables */
:root {
  --font-principal: 'Quicksand', sans-serif;
  --dark-red: #662323;
  --dark-red-50: #a70000b2;
  --light-red: #eb5757;
  --light-red-two: #ff7676;
  --red-principal: #e86060;
  --soft-red-two: hsla(0, 100%, 73%, 0.216);
  --black-100: #555555;
  --black-70: #828282;
  --gray: #4f4f4f;
  --soft-gray: #bdbdbd;
  --black-opacity: #0005;
  --white: #fff;
  --black-10:rgba(0, 0, 0, 0.03); 
}

/* reset css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-principal);
}

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}
